html, body { 
	width: 100%;
	margin: 0;
	height: 100%;
}

#content {
	height: 100%;
}
#topbox {
	position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    width: 100%;
	height: 80%;
	background-size: 100% 100%;
}
#botbox {
	position: absolute;
    bottom: 0;
    left: 0;
    background-color:#262020;
    padding: 0px;
    width: 100%;
	height: 20%;
}
#timeline {
	z-index: 0;
	margin: auto;	
	width: 80vw;
	height: 1vw;
	margin-top: 2vh;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(left, #85EBFF 0%, #0DB9D4 15%, #008585 50%, #0DB9D4 85%, #85EBFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #85EBFF 0%, #0DB9D4 15%, #008585 50%, #0DB9D4 85%, #85EBFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #85EBFF 0%, #0DB9D4 15%, #008585 50%, #0DB9D4 85%, #85EBFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #85EBFF), color-stop(15, #0DB9D4), color-stop(50, #008585), color-stop(85, #0DB9D4), color-stop(100, #85EBFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #85EBFF 0%, #0DB9D4 15%, #008585 50%, #0DB9D4 85%, #85EBFF 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to right, #85EBFF 0%, #0DB9D4 15%, #008585 50%, #0DB9D4 85%, #85EBFF 100%);
}
#pointer {
	z-index: 2;
	position: absolute;
	height: 5vw;
	width: 5vw;
	margin-top: -2.25vw;
    background-image: url("resources/plane.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s ease-out;
}


/* Classes */
.mark.hightlight {
	width: 2.5vw;
	height: 5vw;
}
.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity .5s linear;
	-moz-transition: opacity .5s linear;
	-webkit-transition: opacity .5s linear;
}
.vanish {
	opacity: 0;

}
.mark.zoom {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
	margin-top: -7vw;
}
.mark { 
	z-index: 1;
	position: absolute;
	width: 2.5vw;
	height: 5vw;
	margin-top: -3.5vw;
	background-image: url("resources/mark.png");
	background-size: contain;
	background-repeat: no-repeat;

	word-wrap: word-wrap;
	padding-top: 2.4vw;
	
	
    font-family: 'Open Sans', sans-serif;
	transition: all 0.5s ease-out;
}